<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Metabolisme Paris</title>
  <meta name="description" content="Metabolisme est une data visualisation des flux de matières, d'eau et d'énergie de la ville de Paris">

  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="build/app-metab-fonts.css">
  <link rel="stylesheet" href="build/app-metab-syle.css">

  <!--ONLINE
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  -->

  <!--OFFLINE-->
  <link href="build/bootstrap-glyphicons.css" rel="stylesheet">
  

    <meta property="og:url" content="http://metabolisme.paris.fr" /> 
    <meta property="og:site_name" content="Metabolisme.Paris.r"/>
    <meta property="og:title" content="Metabolisme Paris" />
    <meta property="og:description" content="Visualisez les flux de matières/énergies/eaux et les projets innovants parisiens sur http://metabolisme.paris.fr" /> 
    <meta property="og:image" content="http://metabolisme.paris.fr/data/graphics/fb.jpg"/>  

  <script>


    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53643897-1', 'auto');
    ga('send', 'pageview');


  </script>

</head>

<body class = "unscrollable">

  <div id = "appcontainer">

  </div>

  <div id = "ui">

    <div id = "topleft">
      <ul>
        <li id = "matter" class = "ft_button"><span>Matières</span></li>
        <li id = "energy" class = "ft_button"><span>Energies</span></li>
        <li id = "water" class = "ft_button"><span>Eaux</span></li>
      </ul>
    </div>

    <div id = "topright">

      <div id = "terri">
        <ul>
          <li id = "projects" class = "terri_button"><span>Projets Innovants</span></li>
          <li id = "paris" class = "terri_button"><span>Données Paris</span></li>
          <li id = "pc" class = "terri_button"><span>Données Petite Couronne</span></li>
          <li id = "idf" class = "terri_button"><span>Données Ile-de-France</span></li>
        </ul>
      </div>

      <div id = "time_contr">
      <div id = "time" class = "slider">
        <div class="toggle"><span>2004</span></div>
      </div>
      </div>

      <div id = "exp_contr">
        <ul>
          <li id = "expand" class = "ce_button"><span>Afficher tous les sous flux</span></li>
          <li id = "contract" class = "ce_button"><span>Revenir au niveau macro</span></li>
        </ul>
      </div>

    </div>

    <div id = "bottom_right">
      <ul>
        <li id = "share" class = "br_button"></li>
        <li id = "about_b" class = "br_button"><span class = "i-info">i</span></li>
      </ul>
    </div>

    <div id = "legend">
      <table id = "flowscale" class = "hidden">
        <tr>
          <td id = "fs_container"><div></div></td>
          <td id = "fs_text"><p></p></td>
        </tr>
      </table>
      <table id = "trend_legend" class = "hidden">
        <tr>
          <td><div id = "trendplus"></td>
          <td></div><p>Tendance à la hausse</p></td>
        </tr>
        <tr>
          <td><div id = "trendminus"></td>
          <td></div><p>Tendance à la baisse</p></td>
        </tr>
        <tr>
          <td><div id = "trendflat"></td>
          <td></div><p>Tendance stable</p></td>
        </tr>
      </table>
    </div>


  </div>


<script type="text/template" id="popproject-template">

      <div class="tip border-tip">
        <div id = "mousebox"></div>
        <p><%=name%></p>
        <b class="border-notch notch"></b>
        <b class="notch"></b>
      </div>

      <div id = "pin"></div>

</script>

<script type="text/template" id="itemproject-template">

    <div class = "content">
      <div class = "gcontainer"><img class = "graphics" src=<%=imgurl%>></div>
      <div class = "logocontainer hidden">
        <div class = "mask"></div>
        <img src=<%=logourl%>>
      </div>
      <div class = "text">
        <h3 class = "name"><%=name%></h3>
      <div>
    </div>

</script>

<script type="text/template" id="project-template">

  <div id = "leftpanel">

    <div id = "header">

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Recherche..."/>
      </div>

              <i class="icon-search form-control-feedback"></i>

      <div id = "categorylist">
        <ul></ul>
      </div>

      <div id = "categoryname">
        <p></p>
      </div>

      <p id = "search_info"></p>

    </div>

    <div id = "content">
      <ul id = "itemlist"></ul>
    </div>

  </div>

  <div id = "rightpanel"></div>

</script>


<script type="text/template" id="category-template">
  <span></span>
</script>


<script type="text/template" id="story-template">

    <div id = "nav">
      <ul>
      </ul>
    </div>

    <div id = "title">
      <h2></h2>
      <p></h2>
    </div>

    <div id = "story">
      <ul>
        <li id = "previous" class = "s_button"><span>Info précédente</span></li>
        <li id = "next" class = "s_button"><span>Plus d‘infos</span></li>
        <li id = "tcontainer"><p id = "s_text"></p></li>
      </ul>
    </div>

</script>

<script type="text/template" id="nav-template">

    <div class="tip border-tip">
      <h3><%=title%></h3>
      <b class="border-notch notch"></b>
      <b class="notch"></b>
    </div>

</script>

<script type="text/template" id="flowtip-template">

  <div class = "pulse"></div>

      <div class = "dot"></div>
      <div class = "mousebox"></div>

      <div class = "tip border-tip">
        <h3><%= name %></h3>
        <ul class = "label">
          <li><p class = "volume"></p> <p class = "unit"><%= unit %></p></li>
          <li id = "ungroup" class = "popbutton"><span>Détail du flux</span></li>
          <li id = "group" class = "popbutton"><span>Retour en arrière</span></li>
        </ul>
        <b class="border-notch notch"></b>
        <b class="notch"></b>
    </div>

</script>


<script type="text/template" id="flow-template">
  <div class = "pulse"></div></div>
</script>
     

</script>
    <script type="text/template" id="start-template">

  <div id = "warning"><p><%= warningText %></p></div>

  <div id = "backstart">

    <div id = "rstart"></div>

    <div id = "tstart">
      <h1><%= startTitle %></h1>
      <p><%= startText %></p>
      <div id = "launch"><p>Explorer</p></div>
      <div id = "demo"><p>Démo</p></div>
    </div>

  </div>

    <!-- Info page access--> 
    <div id = "foot_logos">
      <ul>
        <li><a href = "http://www.paris.fr/" target="_blank"><img src = "./data/graphics/logo-mdp.gif"/></a></li>
      </ul>
    </div>

</script>

<script type="text/template" id="intro-template">
  
  <div id = "intro_back">
    </div>

    <div id = "top_left" class = "intro_box"><p><div class = "arrow-up"></div><%=topleft%></p></div>
    <div id = "top_right1" class = "intro_box"><div class = "arrow-right"></div><p><%=topright1%></p></div>
    <div id = "top_right2" class = "intro_box"><div class = "arrow-right"></div><p><%=topright2%></p></div>
    <div id = "top_right3" class = "intro_box"><div class = "arrow-right"></div><p><%=topright3%></p></div>
    <div id = "bottom" class = "intro_box"><div class = "arrow-down"></div><p><%=bottom%></p></div>



</script>

<script type="text/template" id="about-template">

  <div id = "info_back"></div>
  <div>

    <div id = "info_content">

      <ul id = "info_header">
        <li><h2>Informations sur cette visualisation</h2></li>
        <li id = "launch"><p>Intro</p></li>
        <li id = "demo"><p>Démo</p></li>
      </ul>

      <ul id = "info_main">
      <li>Les données sur les flux d’énergies et d’eaux sont celles de la Ville de Paris.</li>
      <br>
      <li>La nomenclature des flux et les données utilisées pour cette infographie sont adaptées du rapport de Sabine Barles, professeure d’urbanisme à l’université Paris 1 Panthéon-Sorbonne (UMR Géographie-Cités) : <a href = "data/pdf/Barles-EI-Paris.pdf" target = "_blank">« Mesurer la performance écologique des villes et des territoires : le métabolisme de Paris et de l’Île-de-France »</a>
      </li>
      <br>
      <li>Les tendances relatives à l’évolution des flux de matières ont été évaluées avec l’aide de Laurent Georgeault doctorant de l’université Paris 1 et chargé de mission à l’Institut de l’économie circulaire.</li>
    </ul>

    <p>Pour plus d’information, voir aussi :</p>
    
    <ul>
      <li class = "refs">BARLES, S. <a href = "http://www.developpementdurable.revues.org/10090" target = "_blank">« L’écologie territoriale et les enjeux de la dématérialisation des sociétés : l’apport de l’analyse des flux de matières »</a>, Développement durable des territoires 5(1), 2014.</li>
      <br>
      <li class = "refs">REPELLIN, P., DURET, B., BARLES, S. <a href = "http://www.statistiques.developpement-durable.gouv.fr/publications/p/2101/1161/comptabilite-flux-matieres-regions-departements-guide.html" target = "_blank">Comptabilité des flux de matières dans les régions et les départements.</a> Guide méthodologique. La Défense : Ministère de l’Écologie, du Développement durable et de l’Énergie – CGDD (coll. « Repères »), 2014.</li>
    </ul>

    <ul id = "credits">
      <li>
        <h3>Maîtrise d’ouvrage :</h3>
        <p>Agence d’écologie urbaine – Mairie de Paris<br>(contact : <a href ="mailto:entreprisesresponsables@paris.fr">entreprisesresponsables@paris.fr</a>)<br></p>
        <a href ="http://www.paris.fr/" target = "_blank"><img src = "./data/graphics/logo-mdp.gif"/></a>
      </li>
      <li>
        <h3>Conception :</h3>
        <p>Elioth<br>(contact : <a href ="mailto:elioth@elioth.fr">elioth@elioth.fr</a>)</p><a href ="http://elioth.com/" target = "_blank"><img src = "./data/graphics/logo-elioth.png"/></a>
      </li>
      </ul>
  </div>

 </div>

</script>

<script type="text/template" id="item-template">

  <p class = "label hidden"></p>

</script>

<script type="text/template" id="territory-template">

  <div id = "flowcontainer" class = "hidden"></div>
  <div id = "itemcontainer"></div>
  <div id = "projectcontainer"></div>
  <div id = "popcontainer"></div>
  <div id = "storycontainer"></div>

</script>


<script type="text/template" id="demo-template">

  <div id="close_demo">
    <span>X</span>
  </div>

  <div class="wrapper hidden">
    <video controls id="offline_video">
      <source src="data/video/demo.mp4"></source>
   </video>
  </div>
  
  <iframe id = "video" 
          class = ""
          src="//www.youtube.com/embed/35oqKJgJbaE"
          frameborder="0"
          allowfullscreen>
  </iframe>

  </script>


<!-- ONLINE-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/augment.js/1.0.0/augment.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- OFFLINE
  <script src="js/lib/jquery-min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/velocity-min.js"></script>
  <script src="js/lib/velocity.ui-min.js"></script>
  <script src="js/lib/raphael-min.js"></script>
  <script src="js/lib/augment.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
   -->

  <script src="build/app-metab.min.js"></script>
  <script src="js/app.js"></script>

</body>
</html>