.fb_iframe_widget span {
	vertical-align: baseline !important;
}

#mail {
	height:20px;
	display: inline-block;
}

#mail img {
	height:100%;
}

#twitter-widget-0 {
	width: 90px !important;
}

#social {
	position: absolute;
	width:380px;
	height:20px;
	top:35px;
	left:20px;
}