<!-- Template for the flow tip-->

<script type="text/template" id="about-template">

  <div id = "info_back"></div>
  <div>

  	<div id = "info_content">

  		<ul id = "info_header">
  			<li><h2><%= title %></h2></li>
  			<li id = "launch"><p>Intro</p></li>
  			<li id = "demo"><p>Démo</p></li>
  		</ul>

  		<ul id = "info_main">
			<li>Les données sur les flux d’énergies et d’eaux sont celles de la Ville de Paris.</li>
			<br>
			<li>La nomenclature des flux et les données utilisées pour cette infographie sont adaptées du rapport de Sabine Barles, professeure d’urbanisme à l’université Paris 1 Panthéon-Sorbonne (UMR Géographie-Cités) : <a href = "./data/Barles-EI-Paris.pdf" target = "_blank">« Mesurer la performance écologique des villes et des territoires : le métabolisme de Paris et de l’Île-de-France »</a>
			</li>
			<br>
			<li>Les tendances relatives à l’évolution des flux de matières ont été évaluées avec l’aide de Laurent Georgeault doctorant de l’université Paris 1 et chargé de mission à l’Institut de l’économie circulaire.</li>
		</ul>

		<p>Pour plus d’information, voir aussi :</p>
		
		<ul>
			<li class = "refs">BARLES, S. <a href = "http://www.developpementdurable.revues.org/10090" target = "_blank">« L’écologie territoriale et les enjeux de la dématérialisation des sociétés : l’apport de l’analyse des flux de matières »</a>, Développement durable des territoires 5(1), 2014.</li>
			<br>
			<li class = "refs">REPELLIN, P., DURET, B., BARLES, S. <a href = "http://www.statistiques.developpement-durable.gouv.fr/publications/p/2101/1161/comptabilite-flux-matieres-regions-departements-guide.html" target = "_blank">Comptabilité des flux de matières dans les régions et les départements.</a> Guide méthodologique. La Défense : Ministère de l’Écologie, du Développement durable et de l’Énergie – CGDD (coll. « Repères »), 2014.</li>
		</ul>

		<ul id = "credits">
			<li>
				<h3>Maîtrise d’ouvrage :</h3>
				<p>Agence d’écologie urbaine – Mairie de Paris<br>(contact : <a href ="mailto:economie.circulaire@paris.fr">economie.circulaire@paris.fr</a>)<br></p>
				<a href ="http://www.paris.fr/" target = "_blank"><img src = "./data/graphics/logo-mdp.gif"/></a>
			</li>
			<li>
				<h3>Conception :</h3>
				<p>Elioth<br>(contact : <a href ="mailto:elioth@elioth.fr">elioth@elioth.fr</a>)</p><a href ="http://elioth.com/" target = "_blank"><img src = "./data/graphics/logo-elioth.png"/></a>
			</li>
			</ul>
	</div>

 </div>

</script>
