<!-- Template for the flow tip-->

<script type="text/template" id="flowtip-template">

      <% // Dot %>
      <div class = "dot"></div>

      <% //Wrapper for the tip content %>
      <div class = "tip border-tip">

        <% // Mouse catcher when user moves from base to tip %>
        <div class = "mousebox"></div>

        <% // Tip content %>
        <h3><%= flowLabel %></h3>                                                     <% // Field displaying the name of the flow %>
        <ul>
          <li><p><%= flowVolume %></p></li>                                           <% // Field displaying the volume of the flow %>
          <li><div class = "ungroup" <%= !children ? "hidden" : "" %>></div></li>     <% // Button to access children of the flow %>
          <li><div class = "group" <%= !parent ? "hidden" : "" %>></div></li>         <% // Button to access parent and uncles of the flow %>
        </ul>

        <% // Bottom arrow for the tip %>
        <b class="border-notch notch"></b>
        <b class="notch"></b>

    </div>

</script>